name: SonarQube Analysis

on:
  push:
    branches:
      - main

jobs:
  sonarqube_analysis:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14'

      - name: Install dependencies
        run: yarn
        
      - name: Test and coverage
        run: yarn jest --coverage

      - name: Run Jest tests with coverage
        run: npm test --prefix WWA-backend-master -- --coverage

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@7295e71c9583053f5bf40e9d4068a0c974603ec8
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}   
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}   
        with:
          args:
            -Dsonar.projectKey=group2
            -Dsonar.coverage.javascript.lcovReportPaths=coverage/lcov.info
            # Add other SonarQube analysis parameters as needed
